@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$primary-black: #333;
$secondary-black: #444;
$primary-white: #FFFFFF;
$secondary-white: #F8F0DF; // #F3EFE0 #F8F0DF #FEFBF3 #F7F5F2
$beige: #FCF9C6 ; // #F9F4DA  #FAEED1 #FCF9C6
$bisque: #FDE49E;

$font-sm: 1.05rem;
$font-md: 1.25rem;    
$font-lg: 1.5rem; 
$font-xl: 2.5rem;
$font-xxl: 4.5rem;

:root {
  font-family: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  // font-weight: 550;

  color-scheme: light dark;
  background-color: $secondary-white;
  color: $primary-black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

*::selection{
  background-color: $bisque;
}

#app{
  padding: 80px 0.5rem;
  padding-bottom: 0;
}

a { 
  text-decoration: none; 
  color: inherit;
}

// LOADING -----
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $font-xl;
}

// HEADER -----
header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 880px; // todo: make it responsive
  width: calc(100vw - 1rem);
  padding: 0 2.5rem;
  margin: 0.5rem 0;
  z-index: 1;
  background-color: $primary-white;
  border-radius: 6px;
  border: 2px solid rgba(16, 16, 16, 0.75);    
  border-bottom: 5px solid rgba(16, 16, 16, 0.75);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  span {
    font-size: $font-md;
    font-weight: 600; 
    text-align: center;
    .bx{
      font-size: $font-lg;
      display: block;
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding: 0 2rem;
  }

  li { 
    font-size: $font-sm; 
  }

  .bx{
    font-size: $font-lg;
  }

  li a, li button{
    font-size: $font-sm;
    color: inherit;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    background-color: rgba($secondary-black, 0.1);
    transition: 0.3s ease;
  }
  
  li a.active, li button:hover{
    box-shadow: 0 0 0 2px rgba(16, 16, 16, 0.75);
  }
}

// HOME -----
.home {
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
  .container{
    display: grid;
    grid-template-columns: 3fr 7fr;
    min-width: 880px; // todo: make it responsive
    min-height: 500px;
    width: 80vw;
    height: 80vh;
    background-color: $beige;
    border-radius: 6px;
    border: 2px solid rgba(16, 16, 16, 0.75);    
    border-bottom: 5px solid rgba(16, 16, 16, 0.75);
  }
}

.home .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(16, 16, 16, 0.25);    
  border-bottom: 5px solid rgba(16, 16, 16, 0.25);
  border-radius: 6px;
  width: 400px;
  &::backdrop{
    background-color: rgba($primary-black, 0.25);
  }

  .modal-content {
    background-color: $bisque;
    color: $primary-black;
    padding: 2rem;
  }
  
  .modal-actions{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .create-btn, .cancel-btn{
    background-color: #9DDE8B;
    font-size: $font-md;
    color: inherit;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 2px solid rgba(16, 16, 16, 0.75);
    transition: 0.3s ease;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    &:hover{
      box-shadow: 0 0 0 2px rgba(16, 16, 16, 0.75);
    }
  }

  .cancel-btn {
    background-color: $primary-white;
  }

  h3{
    text-align: center;
    font-size: $font-lg;
    border-bottom: 3px dashed $primary-black;
    margin-bottom: 1rem;
  }

  input{
    width: 100%;
    padding: 0.75rem 1rem;
    color: inherit;
    background-color: $primary-white;
    border: none;
    border-radius: 5px;
    font-size: $font-sm;
    transition: 0.3s ease;
    border: 2px solid $secondary-black;
    margin-top: 0.25rem;
    &:focus{
      outline: none;
      box-shadow: 0 0 0 3px rgba(16, 16, 16, 0.75);
    }
    &::placeholder{
      font-weight: normal;
      opacity: 0.8;
    }
  }

  label{
    display: block;
    font-size: $font-md;
    margin-left: 0.5rem;
    font-weight: 600;
  }
}

.home .container .sidebar{
  display: flex;
  flex-direction: column; 
  height: 100%; 
  overflow-y: hidden;
  border-radius: 6px 0 0 6px;
  border-right: 2px solid rgba(16, 16, 16, 0.75);

  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
    border-radius: 6px;
    border: 2px solid rgba(16, 16, 16, 0.75);
    border-bottom: 5px solid rgba(16, 16, 16, 0.75);

    .bx{
      font-size: 1.25 * $font-lg;
    }

    span {
      display: inline-flex;
      gap: 0.5rem;
      align-items: center;
      font-size: $font-lg;
    }

    .dialog-btn{
      background-color: #9DDE8B;
      font-size: $font-md;
      color: inherit;
      padding: 0.1rem 0.5rem;
      border-radius: 6px;
      border: 2px solid rgba(16, 16, 16, 0.75);
      transition: 0.3s ease;
      display: inline-flex;
      align-items: center;
      &:hover{
        box-shadow: 0 0 0 2px rgba(16, 16, 16, 0.75);
      }
    }
  }
}

.home .sidebar .contacts{
  overflow-y: hidden;
  flex: 1; 
  padding: 0.5rem;

  ul {
    height: 100%; 
    overflow-y: auto; 
    list-style: none;
    border-radius: 6px;
    border: 2px solid rgba(16, 16, 16, 0.75);
    border-bottom: 5px solid rgba(16, 16, 16, 0.75);
  }

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: $primary-white;
    border-radius: 6px;
    border-bottom:  1px solid rgba($primary-black, 0.25);
  }

  li:not(.sidebar-msg){
    cursor: pointer;
    &:hover{
      background-color: $secondary-white;
    }
  }

  li i{
    font-size: 1.25 * $font-xl;
  }

  li div{
    width: 100%;
  }

  li h2, li span {
    display: block;
    font-size: $font-sm;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 90%; 
  }
}

.home .container .panel{
  display: grid;
  place-items: center;
  padding: 0.5rem;
  .no-chat{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1, span i{
      font-size: $font-xl;
    }
    p{
      font-weight: 500;
    }
  }
}

// ABOUT -----
.about .container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 18rem;

  h2{
    background-color: $primary-white;
    font-size: 1.25 * $font-sm;
    width: 350px;
    border-bottom: 3px dashed $primary-black;
    padding: 0.25rem 0;
  }

  p{
    margin-top: 0.5rem;
    font-size: $font-sm;
  }

  .cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    i{
      font-size: $font-lg;
      position: relative; // Needed for left/right positioning
      animation: moveSideToSide 1.5s ease-in-out infinite;
    }
  }
  @keyframes moveSideToSide {
    0% {
      left: 0; // Starting position
    }
    50% {
      left: 10px; // Move 10px to the right
    }
    100% {
      left: 0; // Back to the starting position
    }
  }
}

// LOGIN -----
.sign-in .container,
.sign-up .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: $beige;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 700px;
  min-height: 580px;
  border: 2px solid rgba(16, 16, 16, 0.75);    
  border-bottom: 5px solid rgba(16, 16, 16, 0.75);

  .form-area{
    display: grid;
    place-items: center;
    border-right: 2px solid rgba(16, 16, 16, 0.75);
  }

  .greeting-area{
    position: relative;
    div{ 
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      h1, span i{
        font-size: $font-xl;
      }
      p{
        margin: 0 auto;
        width: 60%;
        font-weight: 500;
      }
    }
  }
}

.sign-in .container form,
.sign-up .container form{
  background-color: $bisque;
  padding: 2rem;
  border: 2px solid black;
  width: 80%;
  border-radius: 6px;
  margin-bottom: 1rem;
  border-bottom: 5px solid rgba(16, 16, 16, 0.75);
  >* {
    display: block;
  }
  input{
    width: 100%;
    padding: 0.75rem 1rem;
    color: inherit;
    background-color: $primary-white;
    border: none;
    border-radius: 5px;
    font-size: $font-sm;
    transition: 0.3s ease;
    border: 2px solid $secondary-black;
    &:focus{
      outline: none;
      box-shadow: 0 0 0 3px rgba(16, 16, 16, 0.75);
    }
    &::placeholder{
      font-weight: normal;
      opacity: 0.8;
    }
  }

  label{
    font-size: $font-md;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
  }

  span{
    font-size: $font-sm;
    text-align: center;
    margin: 1.5rem 0;
  }

  button{
    background-color: $primary-white;
    color: inherit;
    border-radius: 5px;
    font-size: $font-lg;
    padding: 0.5rem 1.5rem;
    margin: 0 auto;
    transition: 0.3s ease;
    border: 2px solid $secondary-black;
    &:hover{
      box-shadow: 0 0 0 3px rgba(16, 16, 16, 0.75);
    }
  }
}

// PROFILE -----
.profile{
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;

  .container{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 600px;
    padding: 2rem 3rem;
    width: 40vw;
    height: 80vh;
    background-color: $beige;
    border-radius: 6px;
    border: 2px solid rgba(16, 16, 16, 0.75);    
    border-bottom: 5px solid rgba(16, 16, 16, 0.75);
  }

  .container section {
    display: flex;
    flex-direction: column;
  }

  .profile-pic{
    gap: 0.75rem;
    font-weight: 600;
    text-align: center;
    h2{
      font-size: $font-xl;
    }
    i{
      font-size: 12rem;
    }
  }

  .profile-info form{
    margin-bottom: 1.5rem;
    input{
      width: 100%;
      padding: 0.5rem 1rem;
      color: inherit;
      background-color: $primary-white;
      border: none;
      border-radius: 5px;
      font-size: $font-sm;
      transition: 0.3s ease;
      border: 2px solid $secondary-black;
      margin-top: 0.25rem;
      &:focus{
        outline: none;
        box-shadow: 0 0 0 3px rgba(16, 16, 16, 0.75);
      }
    }

    label{
      display: block;
      font-size: $font-sm;
      margin-top: 1rem;
      margin-left: 0.5rem;
      font-weight: 600;
    }
  }

  .profile-info h3{
    font-size: $font-lg;
    border-bottom: 2px dashed $primary-black;
    margin-bottom: 0.5rem;
  }

  .profile-info div{
    display: flex;
    justify-content: space-between;
  }
}

// CHAT -----
.home .chat-panel{
  display: grid;
  grid-template-rows: 12% auto 12%;
  max-height: 77vh;
  min-height: 480px;
  width: 100%;
  background-color: $primary-white;
  border-radius: 6px;
  border: 2px solid rgba(16, 16, 16, 0.75);    
  border-bottom: 5px solid rgba(16, 16, 16, 0.75);

  .contact-info, .message-input{
    // position: absolute;
    width: 100%;
    background-color: $secondary-white;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  .contact-info{
    // top: 0;
    gap: 1rem;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid rgba($primary-black, 0.25);
    i{
      font-size: 1.25 * $font-xl;
    }
    h2{
      font-size: $font-md;
    }
  }

  .message-input{
    // bottom: 0;
    gap: 1rem;
    border-top: 1px solid rgba($primary-black, 0.25);

    input{
      width: 85%;
      padding: 0 0.75rem;
      color: inherit;
      background-color: $primary-white;
      border: none;
      border-radius: 5px;
      font-size: $font-sm;
      transition: 0.3s ease;
      border: 2px solid $secondary-black;
      height: 40px;
      &:focus{
        outline: none;
        box-shadow: 0 0 0 3px rgba(16, 16, 16, 0.75);
      }
      &::placeholder{
        font-weight: normal;
        opacity: 0.8;
      }
    }

    i {
      display: inline-flex;
      justify-content: center;
      font-size: 1.25 * $font-lg;
      background-color: #9DDE8B;
      color: inherit;
      width: 60px;
      height: 40px;
      border-radius: 6px;
      border: 2px solid rgba(16, 16, 16, 0.75);
      transition: 0.3s ease;
      display: inline-flex;
      align-items: center;
      &:hover{
        box-shadow: 0 0 0 2px rgba(16, 16, 16, 0.75);
      }
    }
  }

  .chat-area{
    width: 100%;
    padding: 0 0.5rem;
    overflow: scroll;
    >p{
      display: block;
      border: 2px dashed $primary-black;
      padding: 1rem;
      text-align: center;
      margin: 1rem auto;
      width: 80%;
    }
    
    div.message{
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
      p{
        display: flex;
        flex-direction: column;
        border: 2px solid rgba(16, 16, 16, 0.75);
        padding: 0.5rem;
        max-width: 45%;
        background-color: $beige;
      }
      span.content{
        word-break: break-word;
        overflow-wrap: anywhere;
      }
      span.timestamp{
        margin-top: 0.25rem;
        background-color: $primary-white;
      }
    }

    div.sent{
      align-items: flex-start;
      p{
        align-items: flex-start;
        border-radius: 0 6px 6px 6px;
      }
    }

    div.received{
      align-items: flex-end;
      p{
        align-items: flex-end;
        border-radius: 6px 0 6px 6px;
      }
    }
  }
}


